@import "../../style.scss";

.messenger {
  @include themify($themes) {
    display: flex;
    background-color: themed("bg");
    justify-content: space-around;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;

    .chatMenu {
      width: 30%;
      padding: 4px;
      box-sizing: border-box;

      .con-title {
        display: inline-block;
        margin: 10px 0;
        font-weight: 600;
        color: themed("textColor");

        .refresh-btn {
          display: flex;
          align-items: center;
          justify-content: center;        
          cursor: pointer;
          i {
            margin-left: 5px;
          }
        }
      }
    }
    .chatBox {
      width: 65%;
      display: flex;
      flex-direction: column;

      .chatBoxBottom {
        margin: 10px 0;
      }
      .chatBoxTop {
        height: 100%;
        overflow-y: scroll;
        padding-right: 10px;
        padding-left: 10px;
        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #1877f2;
          border-radius: 20px;
        }
      }
      .noConversationText {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        color: gray;
        font-size: 20px;
      }
    }
    .chatOnline {
      width: 25%;
    }
  }
}
