@import "../../style.scss";

.search-user {
  @include themify($themes) {
    padding: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    min-height: calc(100vh - 100px);
    .user-list {
      margin-top: 20px;
    }
    .user {
      padding: 20px;
      margin: 0.8rem;
      border-radius: 10px;
      background-color: themed("bg");
      @include mobile {
        padding: 10px;
      }
      @include tablet {
        padding: 20px;
      }
    }
  }
}
.your-orders {
  @include themify($themes) {
    padding: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    min-height: calc(100vh - 100px);   

    .view-order{
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
