@import "../../style.scss";

.search-user {
  @include themify($themes) {
    padding: 20px;

    .user-list{
      margin-top: 20px;
    }
    .user {
      padding: 20px;
      margin: 0.8rem;
      border-radius: 10px;
        background-color: themed("bg");
      @include mobile {
        padding: 10px;
      }
      @include tablet {
        padding: 20px;
      }
    }
  }
}
